$clr_brand: #0f4880;
$clr_accent: #34515e;
$clr_white: #fdfdfd;
$clr_black: #2b2b2b;
$clr_grey-dk: #dddddd;
$clr_grey-light: #f0f0f0;
$clr_success: #47ff63;
$clr_error: #ff6347;
$font_face: "Muli", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
$font_size-sml: 12px;
$font_size-std: 14px;
$font_size-med: 20px;
$font_size-lrg: 30px;
